:root {
  --color-dark: 230 35% 7%;
  --color-light: 231 77% 90%;
  --color-white: 0 0% 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 10
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* --------------- */
/* Utility classes */
/* --------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.box {
  background-color: lightblue;
  padding: 3rem;
}

.bg-dark { background-color: hsl( var(--color-dark) );}
.bg-accent { background-color: hsl( var(--color-light) );}
.bg-white { background-color: hsl( var(--color-white) );}

.text-dark { color: hsl( var(--color-dark) );}
.text-accent { color: hsl( var(--color-light) );}
.text-white { color: hsl( var(--color-white) );}